extends ../layout.pug

block content
  h1= titulo

  if admisiones && admisiones.length > 0
    table.data-table
      thead
        tr
          th Admisión ID
          th Paciente
          th DNI
          th Ubicación
          th Ingreso
          th Motivo
          
          th Acciones
      tbody
        each admision in admisiones
          tr
            td #{admision.id_admision}
            td #{admision.paciente_nombre} #{admision.paciente_apellido}
            td #{admision.paciente_dni}
            td
              if admision.numero_cama
                | #{admision.nombre_ala} - Hab: #{admision.numero_habitacion} - Cama: #{admision.numero_cama}
              else
                | Sin asignar
            td #{admision.fecha_ingreso ? admision.fecha_ingreso.toLocaleString() : 'N/A'}
            td #{admision.motivo_internacion}
            
            td
                form(action="/admisiones/" + admision.id_admision + "/cancelar", method="POST" style="display:inline;")
                  button.button.danger(type="submit", onclick="return confirm('Esta seguro de cancelar esta admision? Esto liberara la cama si esta asignada.');") Cancelar

                form(action="/admisiones/" + admision.id_admision + "/finalizar", method="POST" style="display:inline; margin-left: 5px;")
                  button.button.success(type="submit", onclick="return confirm('Esta seguro de finalizar esta admision? Esto marcara al paciente como dado de alta y liberara la cama.');") Finalizar

  else
    .message.info
      p No hay admisiones activas en este momento.